* {
    margin: 0px;
    box-sizing: border-box;
    font-family: Inter;
}
.equation{
    height: 175px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.result{
    position: relative;
    height: 142px;
    background-color: #FF2525;
    border-radius: 22px 22px 0px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5 , 1fr);
    background-color: #000000;
    height: 610px;
    justify-items: center;
    align-items: center;
}
.round{
    width: 91px;
    height: 91px; 
    flex-shrink: 0;
    border-radius: 100px;
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.rect{
    width: 91px;
    height: 91px; 
    flex-shrink: 0;
    border-radius: 15px;
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.equal{
    width: 91px;
    height: 207px; 
    flex-shrink: 0;
    border-radius: 15px;
    color: #FF2525;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
.btnid{
    background-color: #000;
    border: none;
}
.del{
    font-size: 40px;
}
.equation-1{
    font-size: 60px;
    margin-left: 16px;
}
.result-1{
    font-size: 60px;
    margin-left: 16px;
    margin-top: 8px;
    color: white;
}
#equal{
    grid-row: 4 / 6;
    grid-column: 4 / 5;
}
#logo{
    position: absolute;
    right: 9px;
}
@media screen and (max-width: 480px) {
    body{
        height: 100%;
    }
    .equation{
        height: 18.8%;
    }
    .result{
        height: 20%;
    }
    .buttons-container{
        height: 60.2%;
        padding-bottom: 36.7px;
        
    }
    .round{
        width: 80px;
        height: 80px; 
        flex-shrink: 0;
        border-radius: 100px;
        color: #000;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.32px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }
    .rect{
        width: 80px;
        height: 80px; 
        flex-shrink: 0;
        border-radius: 15px;
        color: #000;
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.32px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }
    .del{
        font-size: 40px;
    }
    .equation-1{
        font-size: 60px;
        margin-left: 16px;
    }
    .result-1{
        font-size: 60px;
        margin-left: 16px;
        margin-top: 8px;
        color: white;
    }
    #logo{
        position: absolute;
        width: 50px;
        margin-top: -10px;
    }

}
